
* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

/*
body {
    background: #fff;
    padding-top: 13vh;
}
*/




h1 {
 color: #022859;
        font-size: 3rem;
 font-family: 'Staatliches', cursive;
}


p {
   color: white;
    font-family: 'Roboto', sans-serif;
}


/*
farver:
gul: #FAC177
lys blågrønÆ: #97A6A2
mørkeblå: #022859
*/

/*
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;
*/


/********************************** NAVIGATION ********************************/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background: #FAC177;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links a {
    color: #FFF9F0;
    text-decoration: none;
    padding: 15px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .6s ease;
    border-radius: 15px;
   font-family: 'Staatliches', cursive;

}

.nav-links li {
    list-style: none;
}

/*
.nav-links a:hover {
    border: 3px solid #8C0E08;
    background-color: #FFF9F0;
    color: #7CB2C2;
    -webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
}
*/






/***************************************** MEDIA Q ********************************/
/******************** NAV ***************/
/*
@media screen and (max-width:1250px) {
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width:1024px) {


    .nav-links {
        position: absolute;
        right: 0px;
        height: 70vh;
        top: 13vh;
        background: #7CB2C2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }





    .nav-active {
        transform: translateX(0%) !important;
        opacity: 95%;
        z-index: 1;
    }

}*/



/*******************************FORSIDE********************************/

#splashbillede {
    width: 100%;
}



#section1 {
    background-color: #FAC177;
    padding-top: 1vw;

}


#section2 {
       background-color: #FAC177;
    padding-top: 10vw;
}


#content {

    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}









/******************************** SØJLEDIAGRAM ********************************/
h2 {
  margin-top: 10vh;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#barchart {
  margin-top: 5vw;
  max-width: 1000px;
  overflow: visible;
  z-index: 9999;
  margin-left: 250px;
}

#chart line {
  stroke: #555;
  stroke-width: .3;
}

text {
  fill: white;
  font-size: .4rem;
  font-family: sans-serif;
}

.bars {
  stroke: rgba(9, 58, 130, 0.92);
  stroke-width: 20;
}

#output {
  position: absolute;
  background-color: rgba(9, 58, 130, 0.61);
  padding: .3rem;
  display: none;
  font-size: 1rem;
}


