
* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

/*
body {
    background: #fff;
    padding-top: 13vh;
}
*/




h1 {
 color: #022859;
        font-size: 3rem;
 font-family: 'Staatliches', cursive;
}


p {
   color: white;
    font-family: 'Roboto', sans-serif;
}


/*
farver:
gul: #FAC177
lys blågrønÆ: #97A6A2
mørkeblå: #022859
*/

/*
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;
*/


/********************************** NAVIGATION ********************************/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background: #FAC177;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links a {
    color: #FFF9F0;
    text-decoration: none;
    padding: 15px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .6s ease;
    border-radius: 15px;
   font-family: 'Staatliches', cursive;

}

.nav-links li {
    list-style: none;
}

/*
.nav-links a:hover {
    border: 3px solid #8C0E08;
    background-color: #FFF9F0;
    color: #7CB2C2;
    -webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
}
*/






/***************************************** MEDIA Q ********************************/
/******************** NAV ***************/





@media screen and (max-width:1050px) {
    .nav-links a {
padding: 0px;

    }
      .nav-links {
width: 90%;

    }

    #splashbillede {
        object-fit: cover;

    }

    #citat_tekst {
    font-size: 1.5rem;
    }
}









/*******************************FORSIDE********************************/

#splashbillede {
    width: 100%;
}



#section1, #citat, #quiz, #video, #end {
    background-color: #FAC177;
    padding-top: 1vw;

}


#section1 p {
padding-top: 1.1vw;
}

#section2 {
       background-color: #FAC177;
    padding-top: 10vw;
}


#content, #citat_tekst, .content, #myVideo, #video_content {

    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#billeder {
  padding-top: 1.1vw;
}

#billeder img {
    border-style: solid;
    border-color: white;
}

#citat {
/*border-top: solid; */
    padding-top: 10vw;
}

#citat_tekst {
font-style: oblique;
    font-size: 2.2rem;
}

#section3 {
    padding-top: 10vw;
}




#video {
    padding-top: 10vw;
}



/******************************** SØJLEDIAGRAM ********************************/


#barchart {
  margin-top: 5vw;
  max-width: 1000px;
  overflow: visible;
  z-index: 9999;
  margin-left: 50px;
    margin-bottom: 10vw;
}

#chart line {
  stroke: #555;
  stroke-width: .3;
}

text {
  fill: white;
  font-size: 0.4rem;
    font-family: 'Roboto', sans-serif;

}

.bars {
  stroke: rgba(9, 58, 130, 0.92);
  stroke-width: 20;
}

#output {
  position: absolute;
  background-color: rgba(9, 58, 130, 0.61);
  padding: .3rem;
  display: none;
  font-size: 1rem;
}






/************************PILE ***********************/

.box {
    position: absolute;
    top: 725px;
    left: 50%;
    transform: translate(-50%, -50%);


}

.box span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    animation: animate 2s infinite;
    margin: -10px;


}

.box span:nth-child(2) {
    animation-delay: -0.2s;

}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }

}






/************************QUIZ ***********************/

{
  border: 1px dotted black;
}

p.question {
  font-family: roboto, sans-serif;
	  font-size:20px;
  color: #2E2E2E;
  margin-bottom:0px;
    padding-bottom: 1vw;
}


h2.quizScore{
  font-family: roboto, sans-serif;
  font-size:25px;
    color: #022859;
        padding-top: 5vw;
    padding-bottom: 5vw;
}

div.quizAnswers{
  font-family: roboto, sans-serif;
  font-size:16px;
  color: #022859;
  padding: 4px 0 4px 0;
}

label {
  font-family: Arial, sans-serif;
  font-size:14px;
  color: #424242;
  vertical-align:top;
}

input.answer[type="radio"] {
  margin-bottom: 10px;
}

input.quizSubmit[type="submit"] {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.2s, 0.2s;
  -webkit-transition-property: color, background-color;
  -webkit-transition-timing-function: ease, ease;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
  color: #ffffff;
  background-color: #022859;
  margin: 0;
  border: 0;
  outline: 0;
  text-transform:uppercase;
  height:35px;
  width:85px;
  border: 1px solid #5E5E5E;
  border-radius:5px;

 }

input.quizSubmit[type="submit"]:hover {
  color: #ffffff;
  background: #97A6A2;
  text-decoration: none;
}

table {
  background-color: #F2F2F2;
	  border:1px solid #BDBDBD;
  border-radius:5px;
  padding:10px;
  padding-left:25px;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px;
    padding: 5vw;

}

th {
    padding-left: 4vw;
    padding-bottom: 4vw;

}

tr {
  padding-left: 4vw;
    padding-bottom: 4vw;
}

td {
padding-left: 4vw;
    padding-bottom: 4vw;
}

.submitter {
	  width:85px;
}

.hide {
	  display:none;
}


/*SFS light red = #c30b0a;
SFS dark red = #9f2026; */

#quizzen {
    padding-top: 7vw;
      width: 70vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

}

#quiz_wrapper {
  background-color: #FAC177;
}

.quizHeader {
   padding-bottom: 3vw;
}





/************************VIDEO PORTFOLIO ***********************/


#video_wrapper {

    background-color: #FAC177;
    padding-top: 7vw;
}


#video_content {
width: 70vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
